.create-project-box {
  position: absolute;
  box-sizing: border-box;
  border: 0px solid #000000;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25), 12px 12px 12px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  width: 80%;
  height: min-content;
  padding: 5%;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 50%;
  margin: auto;
}

.cp-top {
  position: relative;
  top: -10%;
  font-size: 60%;
  text-align: center;
}

.cp-description {
  position: relative;
  top: 20%;
  margin-right: 5%;
  font-size: 80%;
  text-align: justify;
}

.cp-description > ul {
  padding-left: 12px;
}

.cp-input-section {
  position: relative;
  top: 50%;
}

.cp-input-titles {
  position: relative;
  font-size: 16px;
}

.cp-input-section > input {
  position: relative;
  border-radius: 6px;
  border: 1px solid #000000;
  width: 89%;
  height: 50px;
  font-size: 1rem;
  font-family: 'Nunito';
  padding: 5px;
}

.cp-input-section > textarea {
  resize: vertical;
  border-radius: 6px;
  background: white;
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 90%;
  height: 8rem;
  font: 1rem 'Nunito';
  padding: 5px;
 }

 .cp-button-section {
   position: relative;
   margin: 0;
   bottom: -5%;
   top: 30px;
   width: 100%;
   text-align: center;
 }

.cp-button-section > button {
  position: relative;
  margin: 10px;
}

@media (max-width: 650px) {
  .create-project-box {
    top: 50px;
    width: 100%;
    border: 0;
    box-shadow: 0 0 0 0;
  }

  .cp-input-section > input {
    font-size: 0.8rem;
    width: 92%;
  }

  .cp-input-section > textarea {
    font-size: 0.8rem;
    width: 95%;
    height: 10rem;
  }

  .cp-button-section {
    top: 10px;
  }
}

@media (max-width: 380px) {
  .create-project-box {
    top: 60px;
  }
}
