.profile-box {
  box-sizing: border-box;
  border: 0px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25), 12px 12px 12px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  padding: 5px;
}

.profile-main {
  width: 100%;
  display: inline-block;
  position: static;
  box-sizing: border-box;
  margin-left: 0.5vw;
  margin-top: 30px;
}

.profile-top {
  position: absolute;
  display: inline-block;
  margin-left: 262px;
  top: 170px;
}

.no-profile {
  position: absolute;
  display: inline-block;
  top: 250px;
  left: 50%;
}

.no-profile-image {
  position: absolute;
  color: white;
  margin-top: 35px;
  margin-left: 15px;
  text-align:center;
}

.profile-top strong {
  font-size: 1.5rem;
  font-weight: 900;
}

.profile-top span {
  position: absolute;
  bottom: 28px;
}

.profile-picture {
  display: block;
  width: 8em;
  height: 8em;
  object-fit: cover;
  border: 2px solid black;
  margin-bottom: 2vh;
  margin-left: 5vh;
  margin-top: 2vh;
  border-radius: 180px;
  background-color: black;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 180px;
  object-fit: cover;
}

.profile-links {
  width: 8em;
  height: auto;
  border-radius: 18px;
  text-align: center;
}

.profile-links-icons {
  text-align: center;
  font-size: 3vh;
  margin-left: 0px;
}

.profile-links i {
  font-size: 3vh;
  margin-left: 10px;
}

i.fa-product-hunt {
font-size: 3vh;
}

.profile-links i:hover {
  font-size: 3.6vh;
}

i.fa-product-hunt:hover {
font-size: 3.3vh;
}

.profile-links-website > i {
  font-size: 1.5vh;
}

.profile-links-website > a {
  font-size: 14px;
  text-decoration: none;
  color: #323232;
}

.profile-links-website > a:hover {
  color: #6E6E6E;
}

.profile-links-website > i:hover {
  font-size: inherit;
}

.profile-skills {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-auto-rows: 2em;
  grid-gap: 2vh;
  margin-left: 267px;
  margin-top: -50px;
  float: left;
  width: 60%;
}

.profile-skills p {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  text-align: left;
}

.profile-activity {
  box-sizing: border-box;
  border: 0px solid #000000;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 18px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
  padding: 5px;
}

.profile-activity > h2 {
  text-align: center;
  margin-top: -4vh;
}

@media (max-width: 1240px) {
  .profile-top {
    margin-left: 262px;
    top: 150px;
  }

  .profile-main {
    box-sizing: border-box;
    margin-left: 0.5vw;
    margin-top: 10px;
  }

  .profile-skills {
    margin-left: 267px;
  }

  .profile-links {
    width: 20%;
    left: 190px;
  }
}

@media (max-width: 1080px) {
  .profile-box {
    width: 90%;
  }

  .profile-main {
    box-sizing: border-box;
    margin-left: 0.5vw;
    margin-top: 20px;
  }
  .profile-top {
    margin-left: 242px;
    top: 160px;
  }

  .profile-top span {
    top: 10px;
  }

  .profile-skills {
    margin-left: 245px;
  }

  .profile-links {
    width: 20%;
    left: 25px;
  }
}

@media (max-width: 900px) {
  .profile-box {
    width: 90%;
  }

  .profile-main {
    box-sizing: border-box;
    margin-left: 0.5vw;
    margin-top: 20px;
  }

  .profile-picture {
    margin-left: 40px;
  }

  .profile-top {
    left: 35px;
    top: 175px;
  }
  .profile-top > p {
    left: 19vw;
    margin-top: -1vh;
  }

  .profile-top span {
    top: -2px;
  }

  .profile-skills {
    margin-left: 233px;
  }

  .profile-links {
    float: left;
    width: 18%;
    margin-left: 3vw;
    margin-top: -1vh;
    height: auto;
    border-radius: 18px;
  }

  .profile-links-icons i {
    text-align: center;
    font-size: 30px;
    margin-left: 5px;
  }

  .profile-links-website a {
    font-size: 14px;
    text-align: center;
  }

}

@media (max-width: 650px) {
  .profile-main {
    box-sizing: border-box;
    margin-left: 0.5vw;
    margin-top: 20px;
  }

  .pb-top-buttons {
    position: absolute;
    top: 10%;
  }

  .pb-top-buttons button {
    height: 32px !important;
    width: fit-content;
    left: 0%;
  }

  .profile-top {
    margin-left: 37vw;
    top: 16vh;
  }
  .profile-top > p {
    left: 19vw;
    margin-top: 1vh;
  }

  .profile-top span {
    top: 12px;
  }

  .profile-skills {
    margin-left: 37vw;
  }

  .profile-skills p {
    font-size: 1em;
    top: 10px;
  }

  .profile-links {
    width: 20%;
  }
  .profile-links-icons {
    text-align: center;
    font-size: 3vh;
    margin-left: 0px;
  }

  .profile-links-website > a {
    font-size: 12px;
  }


}

@media (max-width: 480px) {
  .profile-box {
    box-shadow: 0px 0px 0px 0px;
    margin-top: 0;
  }

  .profile-main {
    height: 45vh;
    margin-top: 100px;
  }

  .profile-top {
    top: 7rem;
    margin-left: 120px;
  }

  .profile-top span {
    top: 15px;
    bottom: 10px;
  }

  .profile-top > p {
    top: -100px;
  }

  .profile-picture {
    margin-left: -15px;
    margin-right: auto;
  }

  .profile-skills {
    position: absolute;
    width: 95%;
    top: 350px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    grid-gap: 2.5vh;
  }

  .profile-links {
    position: absolute;
    margin-top: 0px;
    top: 200px;
    margin-left: 20vw;
    margin-right: auto;
    width: 70%;
  }

  .profile-links-icons {
    text-align: center;
    font-size: 3vh;
    margin-left: 0px;
  }

  .profile-links i {
    font-size: 4vh;
    margin-left: 10px;
  }

  i.fa-product-hunt {
  font-size: 3.8vh;
  }

  .profile-links i:hover {
    font-size: 4.2vh;
  }

  i.fa-product-hunt:hover {
  font-size: 4vh;
  }

  .profile-links-website {
    margin-left: auto;
    margin-right: auto;
  }

  .profile-links-website > a {
    font-size: 1rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-links-website > i {
    font-size: 2vh;
  }

  .profile-activity {
    margin-top: 10px;
  }

  .profile-activity > h2 {
    margin-top: -5vh;
  }


}

@media (max-width: 380px) {
  .profile-main {
    height: 35vh;
    margin-top: 100px;
  }

  .profile-top {
    top: 17rem;
    left: 20vw;
    margin: auto;
  }

  .profile-top span {
    bottom: 1.8rem;
  }

  .profile-top > p {
    left: 12vw;
    top: 3vh;
  }

  .profile-picture {
    margin-left: auto;
    margin-right: auto;
  }

  .profile-links {
    position: absolute;
    margin-top: 0px;
    margin-right: auto;
    margin-left: 20px;
    top: 350px;
    float: none;
  }

  .profile-links-website {
    font-size: 1rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-skills {
    position: absolute;
    top: 475px;
    width: 95%;
    float: none;
    grid-gap: 2.5vh;
  }

  .profile-skills p {
    font-size: 0.8em;
    text-align: center;
  }

  .profile-activity {
    position:absolute;
    bottom: 15vh;
   }

  .profile-activity > h2 {
    margin-top: -5vh;
  }

}
