.dashboard {

}

.db-text h1 {
  display: block;
  height: auto;
  width: auto;
  margin-left: 615px;
  margin-top: 30px;
  color: darkgrey;
}

.db-text h2 {
  display: block;
  height: auto;
  width: auto;
  margin-left: 1220px;
  margin-top: -55px;
  color: darkgrey;
}

.db-text h3 {
  display: block;
  height: auto;
  width: auto;
  margin-left: 1220px;
  margin-top: 325px;
  color: darkgrey;
}
