.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
}

.profile-view {
  margin-top: 80px;
  float: left;
  left: 10px;
}

.actions-view {
  margin-right: 200px;
}

.actions-view h1 {
  top: 15px;
}
