.pv-box {
  display: block;
  text-align: center;
  position: absolute;
  height: auto;
  left: 20px;
  top: 150px;
  width: 270px;
  max-width: 70%;
  margin: auto;
  padding: 0.5rem;
  box-shadow: 0 2px 12px grey;
  background: #C4C4C4;
  border-radius: 28px;
  background-color: white;
  overflow: hidden;
  z-index: 1;
}

.pv-box h4 {
  margin: 5px;
}

.pv-box-list-item {
  box-sizing: border-box;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 1rem;
  width:auto;
  height: auto;
  background-color: #EEEEEE;
  border: 1px solid #lightgray;
  border-radius: 18px;
}

.pv-profile-picture {
  padding: 3rem;
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  margin-left: 85px;
  border-radius: 180px;
  background-color: black;
}

.pv-bio {
  width:auto;
}

.pv-bio-box {
  height: 50px;
  width:auto;
  background-color: #EEEEEE;
  border-radius: 18px;
}

.pv-links {
  height: auto;
  background-color: white;
  border-radius: 18px;
}

.pv-links-icons {
  max-width: 70%;
  font-size: 40px;
  margin-left: 30px;
}

.pv-links i {
  font-size: 40px;
  margin-left: 10px;
}

i.fa-product-hunt {
font-size: 39px;
}

.pv-projects {

}

.pv-projects-box {
  height: 50px;
  width:auto;
  background-color: #EEEEEE;
  border-radius: 18px;
}
