.input-box {
  position: relative;
  display: block;
  background-color: white;
  top: 50px;
  overflow: scroll;
}

.inputs-within {
  display: inline-block;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
  font-family: 'FontAwesome', 'Segoe UI';
}

:-moz-placeholder {
  text-align: center;
}

.inputs-within label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.inputs-within input {
  display: block;
  text-align: center;
  position: relative;
  font: inherit;
  margin-top: -0.5px;
  margin-bottom: 10px;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.inputs-within input:focus {
  outline: none;
  border-color: blue;
  background: #f6dbfc;
}

.inputs-within.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  text-align: center;
}

.icon {
  position: relative;
  z-index: 1;
  left: -25px;
  top: 1px;
  color: #7B7B7B;
  cursor: pointer;
  width: 0;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

@media (max-width: 1000px) {

  /* .control {
    align-items: center;
    flex-direction: row;
    height: 100px;
  } */

  .input-box {
    position: flex;
    display: block;
    background-color: white;
    top: 20px;
    height: 30%;
    overflow: scroll;
  }

  .inputs-within {
    display: inline-block;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

}
