/* Navbar */
.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  background-color: #000000;
  text-align: center;
  z-index: 1;
  width: 100%;
  border-top: solid 1px gray;
  opacity: 0.8;
  overflow: hidden;
}

.footer .auth-links {
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: right;
  float: right;
}

.footer .general-links {
  display: flex;
  align-items: center;
  text-align: center;
  float: center;
}

.title1 {
  display: flex;
  align-items: left;
  text-align: left;
  float: left;
  size: 10px;
}

.footer .sign {
  border-radius: 10px;
  border: 1px solid;
}

.footer ul {
  justify-content: center;
  text-align: center;
}

.footer a {
  color: white;
  padding: 0.45rem;
  margin: 0 0.25rem;
  cursor: pointer;
  float: left;
  align-items: right;
  text-decoration: none;
}

.footer a:hover {
  color: gray;
}

.footer .welcome span {
  margin-right: 0.6rem;
}


@media (max-width: 768px) {

  .footer {
    display: block;
    text-align: center;
  }

  .footer span {
    justify-content: center;
  }

  .footer ul {
    display: block;
    text-align: center;
    justify-content: center;
  }

  .footer h1 {
    margin-bottom: 1rem;
  }

  .footer .welcome {
    display: none;
  }

  .title1 {
    display: block;
    align-items: center;
    text-align: center;
    float: center;
  }

}
