.av-box {
  position: relative;
  display: block;
  text-align: center;
  position: absolute;
  margin-left: 30vw;
  top: 15vh;
  width: 40vw;
  height: fit-content;
  padding: 0.5rem;
  box-shadow: 0 2px 5px grey;
  background: #C4C4C4;
  border-radius: 28px;
  background-color: white;
  overflow: hidden;
  z-index: 1;
}

.av-buttons {
  width: auto;
  height: auto;
  margin-top: -15px;
  margin-bottom: 5px;
  background-color: lightgray;
  border-radius: 18px;
}

.av-box .av-buttons h3 {
  padding: 10px;
  margin-bottom: auto;
}

.av-box-list-item {
  box-sizing: border-box;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 1rem;
  width:auto;
  height: auto;
  background-color: #EEEEEE;
  border: 1px solid #lightgray;
  border-radius: 18px;
}

.av-profile-picture {
  padding: 1.5rem;
  width: 1vw;
  height: 1vw;
  margin-bottom: 0.5vh;
  border-radius: 180px;
  background-color: black;
}

@media (max-width: 900px) {
  .av-box {
    margin-left: 23vw;
    top: 15vh;
    width: 50%;
    padding: 0.5rem;
  }
}

@media (max-width: 680px) {
  .av-box {
    width: 70%;
    margin-left: auto;
    top: 8vh;
    border-radius: 0px;
  }

  h1 {
    display: none;
  }
}

@media (max-width: 480px) {
  .av-box {
    width: 96%;
    margin-left: auto;
    top: 8vh;
    border-radius: 0px;
  }

  .av-buttons {
    width: auto;
    height: auto;
    margin-top: -15px;
    margin-bottom: 5px;
    background-color: lightgray;
    border-radius: 0px;
  }

  .av-box-list-item {
    box-sizing: border-box;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 1rem;
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
    border: 1px solid #lightgray;
    border-radius: 0px;
  }
}

@media (max-width: 380px) {

}

@media (max-width: 280px) {

}
