.av-box {
  display: block;
  text-align: center;
  position: absolute;
  height: auto;
  left: 600px;;
  top: 150px;
  width: 30%;
  max-width: 70%;
  margin: auto;
  padding: 0.5rem;
  box-shadow: 0 2px 12px grey;
  background: #C4C4C4;
  border-radius: 28px;
  background-color: white;
  overflow: hidden;
  z-index: 1;
}

.av-buttons {
  width: auto;
  height: auto;
  margin-top: -15px;
  margin-bottom: 5px;
  background-color: lightgray;
  border-radius: 18px;
}

.av-box .av-buttons h3 {
  padding: 10px;
  margin-bottom: auto;
}

.av-box-list-item {
  box-sizing: border-box;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 1rem;
  width:auto;
  height: auto;
  background-color: #EEEEEE;
  border: 1px solid #lightgray;
  border-radius: 18px;
}

.av-profile-picture {
  padding: 1.5rem;
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 180px;
  background-color: black;
}

@media (max-width: 1480px) {
  .av-box {
    left: 600px;;
    top: 150px;
    width: 20%;
    padding: 0.5rem;
  }

  .av-buttons {
    margin-top: -15px;
    margin-bottom: 5px;
  }

  .av-box .av-buttons h3 {
    padding: 10px;
  }

  .av-box-list-item {
    box-sizing: border-box;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 1rem;
  }

  .av-profile-picture {
    padding: 1.5rem;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
    border-radius: 180px;
  }
}

@media (max-width: 1280px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 880px) {

}

@media (max-width: 680px) {

}

@media (max-width: 480px) {

}

@media (max-width: 380px) {

}

@media (max-width: 280px) {

}
