.pv-box {
  display: block;
  text-align: center;
  position: absolute;
  height: auto;
  left: 20px;
  top: 150px;
  width: 200px;
  max-width: 70%;
  margin: auto;
  padding: 0.5rem;
  box-shadow: 0 2px 12px grey;
  background: #C4C4C4;
  border-radius: 28px;
  background-color: white;
  overflow: hidden;
  z-index: 1;
}

.pv-box button {
  align: center;
}

.pv-box h4 {
  margin: 5px;
}

.pv-box-list-item {
  box-sizing: border-box;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 1rem;
  width:auto;
  height: auto;
  background-color: #EEEEEE;
  border: 1px solid #lightgray;
  border-radius: 18px;
}

.pv-profile-picture {
  padding: 3rem;
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  border-radius: 180px;
  background-color: black;
}

.pv-menu {
  position: relative;
  display: inline-block;
  height: auto;
  box-shadow: 0 2px 12px grey;
  background: #C4C4C4;
  background-color: white;
  transition: 0.2s;
}

.pv-menu-button {
  width: 100%;
  font: inherit;
  cursor: pointer;
  padding: 0.01rem 0.5rem;
  transition: all 0.5s ease;
  border: 1px solid white;
  background-color: #EEEEEE;
  color: black;
}

.pv-menu-button:hover {
  color: white;
  background-color: black;
}

.pv-bio {
  width:auto;
  text-align: left;
}


.pv-bio-box {
  height: 50px;
  width:auto;
  background-color: #EEEEEE;
  border-radius: 18px;
}

.pv-links {
  text-align: left;
  height: auto;
  background-color: white;
  border-radius: 18px;
}

.pv-links-icons {
  font-size: 40px;
  margin-left: -10px;
}

.pv-links i {
  font-size: 40px;
  margin-left: 10px;
}

i.fa-product-hunt {
font-size: 39px;
}

.pv-projects {
  text-align: left;
}

.pv-projects-box {
  height: 50px;
  width:auto;
  background-color: #EEEEEE;
  border-radius: 18px;
}
