.main {
  top: 100px;
  position: relative;
}

.input-box {
  text-align: center;
  width: 500px;
  max-width: 90%;
  margin: auto;
  padding: 2rem;
  box-shadow: 0 2px 12px grey;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  z-index: 1;
}
