

.createprofile-top-inputs-name > input {

}

.createprofile-top-inputs-status > select {

}

.createprofile-bottom-inputs {

}

.createprofile-bottom-inputs > label {

}

.createprofile-bottom-inputs > input {

}

.createprofile-bottom-inputs > textarea {

}

.createprofile-buttons {

}

@media (max-width: 650px) {
  .createprofile-edit-box {
    max-width: 80%;
    box-shadow: 0 0 0 0;
  }

  .createprofile-top-inputs > label {
    font-size: 0.8rem;
    float:left;
    margin-left: auto;
    margin-bottom: -8px;;
  }

  .createprofile-top-inputs-status > label {
    font-size: 0.8rem;
    font-weight: bold;
    float: left;
  }

  .createprofile-top-inputs {
    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
  }

  .createprofile-top-inputs-name > input {
    font-size: 0.8rem;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    }

  .createprofile-top-inputs-status > select {
    font-size: 0.8rem;
    padding: 5px;
    width: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .createprofile-bottom-inputs {
    margin-top: 10px;
    float: center;
  }

  .createprofile-bottom-inputs > label {
    font-size: 0.8rem;
    font-weight: bold;
    float:left;
  }

  .createprofile-bottom-inputs > input {
    font-size: 0.8rem;
    padding: 5px;
  }

  .createprofile-bottom-inputs > textarea {
    font-size: 0.8rem;
    padding: 5px;
  }

  .createprofile-buttons {
    position: static;
    margin-top: 5%;
  }
}
