.projectitem-box {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 1px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 80%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.projectitem-box > hr {
  display: none;
}

.projectitem-box > a {
  text-decoration: none;
  color: black;
}

.projectitem-box > a:hover {
  opacity: 0.5;
}

.pi-projectname {
  width: 80%;
  margin-left: 5%;
}

.pi-projectname > h3 > span {
  opacity: 0.5;
}

.pi-projectname > h3 > img {
  position: relative;
  top: 5px;
}

.pi-projectname .location-icon {
  position: relative;
  top: 1px;
}

.pi-projectdescription {
  width: 80%;
  height: 40px;
  margin-left: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  padding: 5px;
}

.pi-projectskills {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 2rem;
  grid-gap: 1rem;
  width: 90%;
  margin-left: 5%;
  font-size: 14px;
}

.pi-projectbottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 2rem;
  grid-gap: 1rem;
  width: 50%;
  margin-left: 5%;
  margin-bottom: 2%;
  height: fit-content;
}

@media (max-width: 650px) {
  .projectitem-box {
    height: fit-content;
    width: 100%;
    box-sizing: content-box;
    box-shadow: 0 0 0 0;
    margin-left: -2%;
  }

  .projectitem-box > hr {
    display: block;
    opacity: 0.25;
    width: 106%;
    margin-left: -0.5%
  }

  .pi-projectskills {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: 2rem;
    grid-gap: 2rem;
    width: 90%;
    margin-left: 5%;
    font-size: 10px;
  }

  .pi-projectskills > button > .show {
    font-size: 10px !important;
  }
}
