.pp-skills {
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 2rem;
  grid-gap: 1rem;
  width: 90%;
  padding: 2%;
}

.pp-bottom-section {
  text-align: center;
}

.pp-bottom-section > button {
  width: 5rem;
  height: 3rem;
  margin-top: 1rem;
}

@media (max-width: 650px) {

  .pp-skills {
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: 2rem;
    grid-gap: 1rem;
    width: 90%;
    padding: 2%;
  }

  .project-box > hr {
    opacity: 0.25;
    width: 105%;
    margin-left: -0.5%
  }
}
