.project-box {
  box-sizing: border-box;
  border: 0px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25), 12px 12px 12px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  padding: 5px;
}

.pp-title {

}

.pp-description {

}

.pp-details {
  display: grid;
  grid-template-columns: repeat(5, 6fr);
  grid-auto-rows: fit-content;
  grid-gap: 1rem;
}
