.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.select-skills {
  position: fixed;
  left: 500px;
  top: 100px;
  margin: 5rem 3rem;
  padding: 3rem;
  z-index: 100;
  overflow: hidden;
}

.select-skills p {
  padding: 10px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.skills-window {
  float: center;
  width: 550px;
  height: auto;
  background-color: white;
  box-shadow: 0 2px 12px gray;
  border-radius: 10px;
}

.skills-window header {
 background: gray;
 padding: 1rem;
 font-size: 15px;
 font-weight: bold;
 color: white;
}

.skills-window label {
 padding: 1rem;
 margin-right: -10px !important;
 font-size: 20px !important;
}

.skills-form {
  display: block;
  margin: 10px;
}

.skills-list {
  width: 100%;
  height: 250px;
  overflow: hidden;
  text-overflow: clip;
  word-break: break-all;
  white-space: pre-wrap;
}

.skills-buttons {
  margin: 10px;
}

.skills-badge {
  margin: 2.5px !important;
  width: 40% !important;
  height: 17% !important;
  padding: 1px !important;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid white;
  background-color: lightblue;
  color: black;
  border-radius: 12px;
  transition: all 0.5s ease;
}

.skills-search {
  text-align: left !important;
  position: relative;
  font: inherit;
  margin-top: -0.5px;
  margin-bottom: 10px;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 300px;
}

.select-skills button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 1280px) {
  .select-skills {
    left: 250px;
    margin: 5rem 3rem;
    padding: 3rem;
  }

  .select-skills p {
    padding: 10px;
    font-size: 20px;
  }

  .skills-window {
    max-width: 80%;
  }

  .skills-window header {
   padding: 1rem;
   font-size: 15px;
  }

  .skills-window button {
    margin: 10px;
    font-size: 15px;
    padding: 1rem 2rem;
  }
}

@media (max-width: 1080px) {
  .select-skills {
    left: 175px;
    margin: 5rem 3rem;
    padding: 3rem;
  }

  .select-skills p {
    padding: 10px;
    font-size: 20px;
  }

  .skills-window {
    max-width: 80%;
  }

  .skills-window header {
   padding: 1rem;
   font-size: 15px;
  }

  .skills-window button {
    margin: 10px;
    font-size: 15px;
    padding: 1rem 2rem;
  }
}

@media (max-width: 880px) {
  .select-skills {
    left: 155px;
    margin: 5rem 3rem;
    padding: 3rem;
  }

  .select-skills p {
    padding: 10px;
    font-size: 20px;
  }

  .skills-window {
    max-width: 80%;
  }

  .skills-window header {
   padding: 1rem;
   font-size: 15px;
  }

  .skills-window button {
    margin: 10px;
    font-size: 15px;
    padding: 1rem 2rem;
  }
}

@media (max-width: 680px) {
  .select-skills {
    left: 100px;
    margin: 5rem 3rem;
    padding: 3rem;
  }

  .select-skills p {
    padding: 10px;
    font-size: 20px;
  }

  .skills-window {
    max-width: 60%;
  }

  .skills-window header {
   padding: 1rem;
   font-size: 15px;
  }

  .skills-window button {
    margin: 10px;
    font-size: 15px;
    padding: 1rem 2rem;
  }
}

@media (max-width: 480px) {
  .select-skills {
    left: -20px;
    margin: 5rem 3rem;
    padding: 3rem;
  }

  .select-skills p {
    padding: 10px;
    font-size: 20px;
  }

  .skills-window {
    max-width: 60%;
  }

  .skills-window header {
   padding: 1rem;
   font-size: 15px;
  }

  .skills-window button {
    margin: 10px;
    font-size: 15px;
    padding: 1rem 2rem;
  }
}

@media (max-width: 380px) {
  .select-skills {
    left: -40px;
    margin: 5rem 3rem;
    padding: 3rem;
  }

  .select-skills p {
    padding: 10px;
    font-size: 20px;
  }

  .skills-window {
    max-width: 50%;
  }

  .skills-window header {
   padding: 1rem;
   font-size: 15px;
  }

  .skills-window button {
    margin: 10px;
    font-size: 15px;
    padding: 1rem 2rem;
  }
}

@media (max-width: 280px) {
  .select-skills {
    left: 250px;
    margin: 5rem 3rem;
    padding: 3rem;
  }

  .select-skills p {
    padding: 10px;
    font-size: 20px;
  }

  .skills-window {
    max-width: 80%;
  }

  .skills-window header {
   padding: 1rem;
   font-size: 15px;
  }

  .skills-window button {
    margin: 10px;
    font-size: 15px;
    padding: 1rem 2rem;
  }
}
