.bottom-section {

}

.bottom-section .socials {
  float: left;
  max-width: 50%;
}

.bottom-section .socials label {
  font-weight: bold;
  font-size: 25px;
  margin-left: -40px;
}

.social-icons {
  margin-top: 5px;
  text-align: right;
  max-width: 70%;
  margin-left: 15px;
}

.social-icons i {
  font-size: 55px;
  margin-left: 10px;
}

.social-icons i.fa-product-hunt {
font-size: 54px;
}


.bottom-section .skills {
  max-width: 50%;
  float:right;
}

.bottom-section .skills label {
  font-weight: bold;
  font-size: 25px;
  margin-right: 60px;
}

.skills-text {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-auto-rows: 40px;
  margin-right: 50px;
  margin-top: 5px;
}

.skills-text p {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 1440px) {
  .bottom-section .socials {
    margin-top: -10px;
  }

  .bottom-section .socials label {
    font-size: 15px;
  }

  .social-icons {
    width: 100%;
    margin-left: 7px;
  }

  .social-icons i {
    font-size: 35px;
  }

  .social-icons i.fa-product-hunt {
  font-size: 34px;
  }

  .bottom-section .skills {
    margin-top: -10px;
  }

  .bottom-section .skills label {
    font-size: 15px;
  }

  .skills-text {
    grid-auto-rows: 25px;
    margin-right: 50px;
    margin-top: 2px;
  }

  .skills-text p {
    margin-bottom: auto;
    font-size: 13px;
  }
}


@media (max-width: 1280px) {

  .bottom-section .socials {
    margin-top: -10px;
  }

  .bottom-section .socials label {
    font-size: 14px;
  }

  .social-icons {
    width:auto;
  }

  .social-icons i {
    font-size: 45px;
  }

  .social-icons i.fa-product-hunt {
  font-size: 43px;
  }

  .bottom-section .skills {
    margin-top: -10px;
  }

  .bottom-section .skills label {
    font-size: 14px;
  }

  .skills-text {
    grid-auto-rows: 30px;
    margin-right: 50px;
    margin-top: 5px;
  }

  .skills-text p {
    font-size: 15px;
  }
}

@media (max-width: 1160px) {
  .bottom-section .socials {
    margin-top: -10px;
  }

  .bottom-section .socials label {
    font-size: 12px;
  }

  .social-icons {
    width:auto;
  }

  .social-icons i {
    font-size: 32px;
  }

  .social-icons i.fa-product-hunt {
  font-size: 32px;
  }

  .bottom-section .skills {
    margin-top: -10px;
  }

  .bottom-section .skills label {
    font-size: 12px;
    margin-right: 15px;
  }

  .skills-text {
    grid-auto-rows: 25px;
    margin-right: 10px;
    margin-top: 5px;
  }

  .skills-text p {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .bottom-section .socials {
    margin-top: -15px;
  }

  .bottom-section .socials label {
    font-size: 12px;
  }

  .social-icons {
    max-width: 80%;
    margin-left: -15px;
  }

  .social-icons i {
    font-size: 32px;
  }

  .social-icons i.fa-product-hunt {
  font-size: 30px;
  }

  .bottom-section .skills {
    margin-top: -15px;
  }

  .bottom-section .skills label {
    font-size: 12px;
    margin-right: 15px;
  }

  .skills-text {
    grid-auto-rows: 23px;
    margin-right: 10px;
    margin-top: 1px;
  }

  .skills-text p {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .bottom-section .socials {
    margin-top: -10px;
  }

  .bottom-section .socials label {
    font-size: 11px;
  }

  .social-icons {
    width:auto;
    margin-left: -5px;
  }

  .social-icons i {
    font-size: 25px;
  }

  .social-icons i.fa-product-hunt {
  font-size: 25px;
  }

  .bottom-section .skills {
    margin-top: -10px;
    margin-right: -10px;
  }

  .bottom-section .skills label {
    font-size: 11px;
    margin-right: 5px;
  }

  .skills-text {
    grid-auto-rows: 18px;
    margin-right: -10px;
    margin-top: 0px;
  }

  .skills-text p {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .bottom-section .socials {
    margin-top: -15px;
  }

  .bottom-section .socials label {
    font-size: 10px;
    margin-left: -5px;
  }

  .social-icons {
    max-width: 80%;
    margin-left: 0;
  }

  .social-icons i {
    font-size: 18px;
  }

  .social-icons i.fa-product-hunt {
  font-size: 18px;
  }

  .bottom-section .skills {
    margin-top: -15px;
    margin-right: -10px;
  }

  .bottom-section .skills label {
    font-size: 10px;
    margin-right: 5px;
  }

  .skills-text {
    grid-auto-rows: 16px;
    margin-right: -10px;
    margin-top: 0px;
  }

  .skills-text p {
    font-size: 8px;
  }
}

@media (max-width: 380px) {
  .bottom-section .socials {
    margin-top: -15px;
  }

  .bottom-section .socials label {
    font-size: 9px;
    margin-left: -15px;
  }

  .social-icons {
    max-width: 90%;
    margin-left: -10px;
  }

  .social-icons i {
    font-size: 18px;
  }

  .social-icons i.fa-product-hunt {
  font-size: 18px;
  }

  .bottom-section .skills {
    margin-top: -15px;
    margin-right: -10px;
  }

  .bottom-section .skills label {
    font-size: 9px;
    margin-right: 5px;
  }

  .skills-text {
    grid-auto-rows: 15px;
    margin-right: -10px;
    margin-top: 0px;
  }

  .skills-text p {
    font-size: 7px;
  }

}

@media (max-width: 281px) {
  .bottom-section .socials {
    margin-top: -15px;
  }

  .bottom-section .socials label {
    font-size: 8px;
    margin-left: -15px;
  }

  .social-icons {
    max-width: 120%;
    margin-left: -35px;
  }

  .social-icons i {
    font-size: 15px;
  }

  .social-icons i.fa-product-hunt {
    font-size: 14px;
  }

  .bottom-section .skills {
    max-width: 65%;
    margin-top: -15px;
    margin-right: -25px;
  }

  .bottom-section .skills label {
    font-size: 8px;
    margin-right: 5px;
  }

  .skills-text {
    grid-auto-rows: 14px;
    margin-right: -10px;
    margin-top: 0px;
  }

  .skills-text p {
    font-size: 7px;
  }
}
