.bottom-section {

}

.bottom-section .socials {
  float: left;
  max-width: 50%;
  text-align: center;
}

.bottom-section .socials label {
  font-weight: bold;
  font-size: 1.5vh;
  margin-left: 55px;
  margin-right: auto;
}

.social-icons {
  margin-top: 5px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-auto-rows: 3em;
}

.social-icons i {
  font-size: 4vh;
  margin-left: 10px;
}

.social-icons i:hover {
  font-size: 2.2rem;
}

.social-icons i.fa-product-hunt {
  font-size: 3.8vh;
}

.social-icons i.fa-product-hunt:hover {
  font-size: 2.2rem;
}

.bottom-section .skills {
  max-width: 50%;
  float:right;
}

.bottom-section .skills label {
  font-weight: bold;
  font-size: 1.5vh;
  margin-right: 60px;
}

.skills-text {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-auto-rows: 1.5em;
  margin-right: 50px;
  margin-top: 5px;
}

.skills-text p {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5vh;
  text-align: center;
}

@media (max-width: 1080px) {
  .bottom-section .socials {
    margin-top: auto;
  }

  .bottom-section .socials label {
    font-size: 1.2vw;
  }

  .social-icons {
    grid-auto-rows: 2.3em;
  }

  .social-icons i {
    font-size: 32px;
  }

  .social-icons i.fa-product-hunt {
  font-size: 30px;
  }

  .bottom-section .skills {
    margin-top: auto;
  }

  .bottom-section .skills label {
    font-size: 1.2vw;
    margin-right: 15px;
  }

  .skills-text {
    grid-auto-rows: 23px;
    margin-right: 10px;
    margin-top: 1px;
  }

  .skills-text p {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .bottom-section .socials {
    margin-top: auto;
    height: auto;
  }

  .bottom-section .socials label {
    font-size: 1.5vw;
    margin-left: 20px;
  }

  .social-icons {
    max-width: 80%;
    grid-auto-rows: 3.5vw;
  }

  .social-icons i {
    font-size: 3vw;
    margin-left: 4px;
  }

  .social-icons i.fa-product-hunt {
    font-size: 4vw;
  }

  .bottom-section .skills {
    margin-top: auto;
  }

  .bottom-section .skills label {
    font-size: 1.5vw;
    margin-right: 15px;
  }

  .skills-text {
    grid-auto-rows: 1.3em;
    margin-right: 10px;
    margin-top: 1px;
  }

  .skills-text p {
    font-size: 1.3vw;
  }
}

@media (max-width: 650px) {
  .bottom-section .socials {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    float:none;
  }

  .bottom-section .socials label {
    font-size: 2vw;
    margin-left: auto;
    margin-right: auto;  }

  .social-icons {
    grid-auto-rows: 7vw;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-bottom: 10px;
  }

  .social-icons i {
    font-size: 6vw;
    margin-left: 5px;
    margin-right: 5px;
  }

  .social-icons i.fa-product-hunt {
    font-size: 5.5vw;
  }

  .bottom-section .skills {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    float:none;

  }

  .bottom-section .skills label {
    font-size: 2vw;
    margin-left: auto;
    margin-right: auto;  }

  .skills-text {
    grid-auto-rows: 6vw;
    margin-left: auto;
    margin-right: auto;
  }

  .skills-text p {
    font-size: 2vw;
  }
}

@media (max-width: 580px) {
  .bottom-section .socials {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    float:none;
    max-width: 65%;
  }

  .bottom-section .socials label {
    font-size: 2.5vw;
    margin-left: auto;
    margin-right: auto;  }

  .social-icons {
    grid-auto-rows: 7vw;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .social-icons i {
    font-size: 6vw;
    margin-left: 5px;
    margin-right: 5px;
  }

  .social-icons i.fa-product-hunt {
    font-size: 5.5vw;
  }

  .bottom-section .skills {
    margin-top: 70px;
    margin-right: auto;
    margin-left:auto;
    float: none;
    max-width: 80%;
  }

  .bottom-section .skills label {
    font-size: 2.5vw;
    margin-left: auto;
    margin-right: auto;
   }

  .skills-text {
    max-width: 65%;
    grid-auto-rows: 6vw;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .skills-text p {
    font-size: 2.5vw;
  }
}
