.edit-box {
  display: block;
  text-align: center;
  position: absolute;
  width: 805px;
  height: 839px;
  left: 500px;
  top: 50px;
  max-width: 70%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 2rem;
  box-shadow: 0 2px 12px grey;
  background: #C4C4C4;
  border-radius: 28px;
  background-color: white;
  overflow: hidden;
  z-index: 1;
}

.top-inputs {
  float: right;
  margin-top: -200px;
  margin-right: 100px;
}

.top-inputs-name input {
  border-radius: 6px;
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 300px;
  height: 60px;
  left: 500px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nunito';
  padding: 5px;
}

.top-inputs-status input {
  border-radius: 6px;
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 300px;
  height: 60px;
  left: 500px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nunito';
  padding: 5px;
}

.bottom-inputs {
  margin-top: 70px;
  float: center;
}

.bottom-inputs input {
  border-radius: 6px;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 774px;
  height: 53px;
  left: 350px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nunito';
  padding: 5px;
}

.bottom-inputs textarea {
  resize: none;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  background: white;
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 774px;
  height: 100px;
  left: 350px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nunito';
  padding: 5px;
}

.brand-icons {
  position: absolute;
  width: 43px;
  height: 54px;
  left: 506px;
  top: 821px;
  font-family: 'Font Awesome';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;

  color: #000000;
}

@media (max-width: 1000px) {
  .edit-box {
    width: 500px;
    height: 500px;
    left: 250px;
    top: 50px;
  }

  .top-inputs {
    margin-top: -100px;
    margin-right: 50px;
   }

  .top-inputs-name input {
    width: 200px;
    height: 35px;
    right: 10px;
    font-size: 15px;
    font-weight: bold;
    font-style: 'Nunito';
    padding: 5px;
  }

  .top-inputs-status input {
    width: 200px;
    height: 35px;
    right: 10px;
    font-size: 15px;
    font-weight: bold;
    font-style: 'Nunito';
    padding: 5px;
  }

  .bottom-inputs {
    float: center;
    margin-bottom: 10px;
  }

  .bottom-inputs input {
    margin-top: 5px;
    width: 500px;
    height: 40px;
    margin-left: 0px;
    font-size: 15px;
    font-weight: bold;
    font-style: 'Nunito';
  }

  .bottom-inputs textarea {
    margin-top: 5px;
    resize: none;
    border-radius: 6px;
    background: white;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-left: 0px;
    width: 500px;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Nunito';
    padding: 5px;
  }

  .brand-icons {

  }

}

@media (max-width: 768px) {
  .edit-box {
    max-width: 70%;
    width: 300px;
    height: 500px;
    left: 125px;
    top: 50px;
  }

  .top-inputs {
    margin-top: -120px;
    float: right;
    margin-right: 5px;
  }

  .top-inputs-name input {
    width: 130px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    font-style: 'Nunito';
    padding: 5px;
  }

  .top-inputs-status input {
    width: 130px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    font-style: 'Nunito';
    padding: 5px;
  }

  .bottom-inputs {
    margin-top: 10px;
    float: center;
  }

  .bottom-inputs input {
    margin-top: 0.5px;
    width: 300px;
    height: 35px;
    margin-left: -5px;
    font-size: 15px;
    font-weight: bold;
    font-style: 'Nunito';
    padding: 5px;
  }

  .bottom-inputs textarea {
    resize: none;
    border-radius: 6px;
    background: white;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-left: -5px;
    width: 300px;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Nunito';
    padding: 5px;
  }
  .brand-icons {

  }
}

@media (max-width: 400px) {
  .edit-box {
    width: 300px;
    height: 500px;
    left: 25px;
    top: 50px;
  }

  .top-inputs {
    margin-top: -100px;
    float: right;
    margin-right: -5px;
  }

  .top-inputs-name input {
    width: 100px;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    font-style: 'Nunito';
    padding: 5px;
  }

  .top-inputs-status input {
    width: 100px;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    font-style: 'Nunito';
    padding: 5px;
  }

  .bottom-inputs {
    float: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .bottom-inputs input {
    margin-bottom: 15px;
    width: 270px;
    height: 25px;
    margin-left: -10px;
    font-size: 10px;
    font-weight: bold;
    font-style: 'Nunito';
    padding: 5px;
  }

  .bottom-inputs textarea {
    margin-bottom: 15px;
    margin-top: 15px;
    resize: none;
    border-radius: 6px;
    background: white;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-left: -10px;
    width: 270px;
    height: 45px;
    font-size: 10px;
    font-weight: bold;
    font-Family: 'Nunito';
    padding: 5px;
  }
  .brand-icons {

  }
}
