.bottom-section {

}

.bottom-section .socials {
  float: left;
  max-width: 50%;

}

.bottom-section .socials label {
  font-weight: bold;
  margin-left: -40px;
}

.social-icons {
  margin-top: 5px;
  text-align: right;
  max-width: 70%;
  margin-left: 30px;
}

.social-icons i {
  font-size: 65px;
  margin-left: 10px;
}

.social-icons i.fa-twitter-square {
  color: #38a1f3;
}
.social-icons i.fa-facebook-square {
  color: #3b5998;
}

.social-icons i.fa-instagram-square {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.social-icons i.fa-youtube {
  color: #c4302b;
}

.social-icons i.fa-dribbble-square {
color: #EA6493
}
.social-icons i.fa-product-hunt {
color: #DA552F}

.social-icons i.fa-linkedin-square {
  color: #0077b5;
}

.bottom-section .skills {
  max-width: 50%;
  float:right;
}

.bottom-section .skills label {
  font-weight: bold;
  margin-right: 60px;
}

.skills-text {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-auto-rows: 40px;
  margin-right: 50px;
  margin-top: 5px;
}

.skills-text p {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 1440px) {
  .bottom-section .socials {

  }

  .bottom-section .socials label {
  }

  .social-icons {
    width: 100%;
    margin-left: 10px;
  }

  .social-icons i {
    font-size: 55px;
  }

  .bottom-section .skills {

  }

  .bottom-section .skills label {

  }

  .skills-text {
    grid-auto-rows: 40px;
    margin-right: 50px;
    margin-top: 5px;
  }

  .skills-text p {
    font-size: 15px;
  }
}


@media (max-width: 1280px) {

  .bottom-section .socials {
    margin-top: -10px;
  }

  .bottom-section .socials label {
    font-size: 14px;
  }

  .social-icons {
    width:auto;
  }

  .social-icons i {
    font-size: 45px;
  }

  .bottom-section .skills {
    margin-top: -10px;
  }

  .bottom-section .skills label {
    font-size: 14px;
  }

  .skills-text {
    grid-auto-rows: 30px;
    margin-right: 50px;
    margin-top: 5px;
  }

  .skills-text p {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .bottom-section .socials {
    margin-top: -10px;
  }

  .bottom-section .socials label {
    font-size: 12px;
  }

  .social-icons {
    width:auto;
  }

  .social-icons i {
    font-size: 35px;
  }

  .bottom-section .skills {
    margin-top: -10px;
  }

  .bottom-section .skills label {
    font-size: 12px;
  }

  .skills-text {
    grid-auto-rows: 25px;
    margin-right: 20px;
    margin-top: 5px;
  }

  .skills-text p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .bottom-section .socials {
    margin-top: -10px;
  }

  .bottom-section .socials label {
    font-size: 12px;
  }

  .social-icons {
    width:auto;
  }

  .social-icons i {
    font-size: 35px;
  }

  .bottom-section .skills {
    margin-top: -10px;
  }

  .bottom-section .skills label {
    font-size: 12px;
  }

  .skills-text {
    grid-auto-rows: 25px;
    margin-right: 20px;
    margin-top: 5px;
  }

  .skills-text p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .bottom-section {
  }

  .bottom-section .socials {

  }

  .bottom-section .socials p {

  }

  .social-icons {

  }

  .social-icons i {

  }

  .bottom-section .skills {

  }

  .bottom-section .skills p {

  }
}

@media (max-width: 361px) {
  .bottom-section {

  }

  .bottom-section .socials {

  }

  .bottom-section .socials p {

  }

  .bottom-section .skills {

  }

  .social-icons {

  }

  .bottom-section .skills p {

  }

}

@media (max-width: 281px) {
  .bottom-section {

  }

  .bottom-section .socials {

  }

  .bottom-section .skills {

  }
}
