.bottom-section {

}

.bottom-section .socials {
  max-width: 50%;
  margin-left: -20px;
  font-size: 20px;
  font-weight: bold;
}

.bottom-section .socials p {
  margin-left: -150px;
  float: center;
}

.social-icons {
  max-width: 100%;
  max-height: 100%;
}

.social-icons i {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 65px;
}

.social-icons i.fa-twitter-square {
  color: #38a1f3;
}
.social-icons i.fa-facebook-square {
  color: #3b5998;
}

.social-icons i.fa-instagram-square {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.social-icons i.fa-youtube {
  color: #c4302b;
}

.social-icons i.fa-dribbble-square {
color: #EA6493
}
.social-icons i.fa-product-hunt {
color: #DA552F}

.social-icons i.fa-linkedin-square {
  color: #0077b5;
}

.bottom-section .skills {
  max-width: 70%;
  font-size: 20px;
  font-weight: bold;
  margin-right: -20px;
  float: right;
}

.bottom-section .skills p {
}

.skills-text {
  display: grid;
  width: 100%;
  text-align: center;
  max-height: 100%;
}

.skills-text p {
  margin-left: 10px;
  margin-bottom: 10px;
  height: auto;
  font-size: 15px;
}

@media (max-width: 1440px) {
  .bottom-section .socials {
    margin-top: -10px;
    width: 50%;
  }

  .bottom-section .socials p {
    float: left;
    margin-left: 60px;
  }

  .social-icons {
    width: 80%;
    margin-left: 5px
  }

  .social-icons i {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .bottom-section .skills {
    margin-right: -8px;
    margin-top: -10px;
    width: 50%;
  }

  .bottom-section .skills p {
    margin-right: 15px;
  }
}


@media (max-width: 1280px) {
  .bottom-section {
    margin-top: -10px;
  }

  .bottom-section .socials {
    margin-top: -10px;
    width: 50%;
  }

  .bottom-section .socials p {
    font-size: 15px;
    float: left;
    margin-left: 50px;
  }

  .social-icons {
    width: 55%;
    margin-left: -5px;
    max-height: 100%;
  }

  .social-icons i {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 35px;
  }

  .bottom-section .skills {
    margin-right: -8px;
    margin-top: -10px;
    width: 50%;
  }

  .bottom-section .skills p {
    margin-right: 15px;
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .bottom-section {
  }

  .bottom-section .socials {
    width: 55%;
    margin-left: -20px;
    margin-top: -20px;
  }

  .bottom-section .socials p {
    font-size: 13px;
    margin-left: 40px;
  }

  .social-icons {
    width: 70%;
    margin-left: -5px;
    max-height: 100%;

  }

  .social-icons i {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 28px;
  }

  .bottom-section .skills {
    font-size: 13px;
    margin-top: -20px;
    margin-right: -25px;
    width: 55%;
  }

  .bottom-section .skills p {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .bottom-section {

  }

  .bottom-section .socials {
    width: 55%;
    font-size: 12px;
    margin-left: -25px;
  }

  .bottom-section .socials p {
    font-size: 13px;
    margin-left: 50px;
  }

  .social-icons {
    width: 65%;
    font-size: 25px;
    margin-left: 10px;
    max-height: 100%;
  }

  .social-icons i {
    font-size: 25px;
  }

  .bottom-section .skills {
    width: 55%;
    margin-top: -15px;
    margin-right: -20px;
  }

  .bottom-section .skills p {
    font-size: 13px;
  }

}

@media (max-width: 480px) {
  .bottom-section {
  }

  .bottom-section .socials {
    width: 60%;
    margin-left: -30px;
  }

  .bottom-section .socials p {
    font-size: 10px;
    margin-left: 30px;
    width: 60%;
  }

  .social-icons {
    width: 80%;
    margin-left: 13px;
    font-size: 20px;
  }

  .social-icons i {
    font-size: 20px;
  }

  .bottom-section .skills {
    width: 60%;
    margin-right: -30px;
  }

  .bottom-section .skills p {
    font-size: 10px;
    margin-right: auto;
  }
}

@media (max-width: 361px) {
  .bottom-section {
    margin-top: -10px;
  }

  .bottom-section .socials {
    width: 60%;
    margin-left: -30px;
  }

  .bottom-section .socials p {
    margin-left: 30px;
    font-size: 10px;
  }

  .bottom-section .skills {
    width: 60%;
    margin-right: -25px;
  }

  .social-icons {
    width: 85%;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .bottom-section .skills p {
    font-size: 10px;
  }

}

@media (max-width: 281px) {
  .bottom-section {
    margin-top: -10px;
  }

  .bottom-section .socials {
    margin-top: -10px;
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
    float: left;
    text-align: left;
  }

  .bottom-section .skills {
    margin-top: -10px;
    font-weight: bold;
    font-size: 12px;
    margin-right: 20px;
    float: right;
    text-align: left;
  }
}
