.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.alert {
  text-align: center;
  float: center;
  position: fixed;
  margin: 3rem;
  padding: 3rem;
  z-index: 100;
  overflow: hidden;
}

.alert p {
  padding: 10px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.alert-danger {
  width: 500px;
  max-width: 70%;
  background-color: white;
  box-shadow: 0 2px 12px red;
  border-radius: 10px;
}

.alert-success {
  width: 500px;
  max-width: 70%;
  background-color: white;
  box-shadow: 0 2px 12px green;
  border-radius: 10px;
}

.alert-danger header {
 background: red;
 padding: 1rem;
 font-size: 15px;
 font-weight: bold;
 color: white;
}

.alert-success header {
 background: green;
 padding: 1rem;
 font-size: 15px;
 font-weight: bold;
 color: white;
}

.alert-danger button {
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  background-color: pink;
  color: black;
  border-radius: 12px;
  transition: all 0.5s ease;
}

.alert-success button {
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  background-color: lightgreen;
  color: black;
  border-radius: 12px;
  transition: all 0.5s ease;
}

.alert button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  /* .alert {
    left: calc(50% - 20rem);
    width: 40rem;
  } */

  .alert {
    text-align: center;
    position: fixed;
    margin: 1.5rem;
    padding: 1.5rem;
    z-index: 100;
    overflow: hidden;
  }

  .alert p {
    padding: 15px;
    text-align: center;
    font-size: 10px;
  }

  .alert-danger {
    width: 300px;
    max-width: 70%;
  }

  .alert-success {
    width: 300px;
    max-width: 70%;
  }

  .alert-danger header {
   padding: 1rem;
   font-size: 15px;
  }

  .alert-success header {
   padding: 1rem;
   font-size: 15px;
  }

  .alert-danger button {
    margin: 10px;
    font-size: 15px;
    padding: 1rem 2rem;
    border-radius: 12px;
  }

  .alert-success button {
    margin: 10px;
    font-size: 20px;
    padding: 1rem 2rem;
    border-radius: 12px;
  }
}
