.button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid black;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  background-color: #darkgray;
  color: black;
  border-radius: 12px;
  transition: all 0.5s ease;
}

.button:hover {
  background-color: black;
  color: white;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
