.button {
  font: inherit;
  cursor: pointer;
  margin: 5px;
  padding: 1rem 2rem;
  border: 1px solid black;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  background-color: #darkgray;
  color: black;
  border-radius: 12px;
  transition: all 0.5s ease;
}

.button:hover {
  background-color: black;
  color: white;
}

.primary {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 12px;
  transition: all 0.5s ease;
  border: 1px solid black;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  background-color: green;
  color: white;
}

.primary:hover {
  background-color: lightgreen;
  color: black;
}

.small {
  font: inherit;
  cursor: pointer;
  padding: 0.01rem 0.5rem;
  border-radius: 12px;
  transition: all 0.5s ease;
  border: 1px solid black;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  background-color: darkgray;
  color: white;
}

.small:hover {
  background-color: white;
  color: black;
}

.button-image {
  border: black;
  padding: 6.8rem;
  width: 60px;
  height: 60px;
  border-radius: 180px;
  background: #000000;
  color: white;
  cursor: pointer;
  text-align: center;
}

.button-image i {
  margin-left: -5px;
  margin-top: -15px;
}


.button-image:hover {
  background: white;
  color: black;
  transition: all 0.5s ease;
  float: center;
  text-align: center;
}

.bad {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 12px;
  transition: all 0.5s ease;
  border: 1px solid black;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  background-color: red;
  color: white;
}

.bad:hover {
  background-color: pink;
  color: black;
}


button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}

@media (max-width: 1280px) {
  .button {
    margin: 5px 5px ;
    padding: 0.6rem 1.1rem;
  }

  .primary {
    padding: 0.6rem 1.1rem;
  }

  .button-image {
    padding: 4rem;
    width: 60px;
    height: 60px;
  }

  .button-image i {
    margin-left: -5px;
    margin-top: -15px;
  }

  .bad {
    padding: 0.6rem 1.1rem;
  }

}

@media (max-width: 992px) {
  .button {
    padding: 0.5rem 0.8rem;
  }

  .primary {
    font: inherit;
    padding: 0.5rem 0.8rem;
  }

  .button-image {
    padding: 4rem;
    width: 60px;
    height: 60px;
  }

  .button-image i {
    margin-left: -5px;
    margin-top: -15px;
  }


  .bad {
    padding: 0.5rem 0.8rem;
  }
}

@media (max-width: 768px) {
  .button {
    padding: 0.4rem 0.7rem;
  }

  .primary {
    padding: 0.4rem 0.7rem;
    color: white;
  }

  .primary:hover {
    background-color: lightgreen;
    color: black;
  }

  .button-image {
    padding: 3.5rem;
    width: 60px;
    height: 60px;
  }

  .button-image i {
    margin-left: -5px;
  }

  .bad {
    padding: 0.4rem 0.7rem;
  }
}

@media (max-width: 480px) {
  .button {
    padding: 0.25rem 0.5rem;
  }

  .primary {
    padding: 0.25rem 0.5rem;
  }

  .small {
    padding: 0.1rem 0.2rem;
  }

  .bad {
    padding: 0.25rem 0.5rem;
  }

  .button-image {
    padding: 2.5rem;
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 380px) {
  .button {
    padding: 0.15rem 0.25rem;
  }

  .primary {
    padding: 0.15rem 0.25rem;
  }

  .small {
    padding: 0.1rem 0.2rem;
  }

  .bad {
    padding: 0.15rem 0.25rem;
  }

  .button-image {
    padding: 2.5rem;
    width: 60px;
    height: 60px;
  }

}
