.image-upload.center {

}

.image-upload__preview {
  box-shadow: 0 2px 12px grey;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: 45px;
  width: 210px;
  height: 210px;
  border-radius: 180px;
  background: #000000;
}

.image-upload__preview p {
  color: white;
}

.image-upload__preview img {
  width: 100%;
  height: 100%;
  border-radius: 180px;
  object-fit: cover;
}

.buttons {
  float: left;
  margin-left: 10px;
}

@media (max-width: 1440px) {

  .image-upload__preview {
    margin-bottom: 0.5rem;
    margin-left: 30px;
    width: 120px;
    height: 120px;
  }

  .buttons {
    margin-left: 30px;
    float: left;
  }
}

@media (max-width: 1280px) {

  .image-upload__preview {
    margin-bottom: 0.5rem;
    margin-left: 30px;
    width: 120px;
    height: 120px;
  }

  .buttons {
    margin-left: 30px;
    float: left;
  }
}

@media (max-width: 992px) {
  .image-upload__preview {
    margin-bottom: 0.5rem;
    margin-left: 20px;
    width: 120px;
    height: 120px;
  }

  .buttons {
    margin-left: 30px;
    float: left;
  }
}

@media (max-width: 768px) {

  .image-upload__preview {
    margin-bottom: 0.5rem;
    margin-left: 18px;
    width: 105px;
    height: 105px;
  }
  .image-upload__preview p {
    color: white;
    font-size: 10px;
  }

  .buttons {
    margin-left: 25px;
    float: left;
  }
}

@media (max-width: 480px) {

  .image-upload.center {

  }

  .image-upload__preview {
    margin-bottom: 0.5rem;
    margin-left: 5px;
    width: 105px;
    height: 105px;
  }
  .image-upload__preview img {

  }

  .buttons {
    margin-left: 15px;
    float: left;
  }
}

@media (max-width: 380px) {

  .image-upload.center {

  }

  .image-upload__preview {
    margin-bottom: 0.5rem;
    margin-top: 0px;
    margin-left: 5px;
    width: 80px;
    height: 80px;
  }
  .image-upload__preview img {

  }

  .buttons {
    margin-left: 10px;
    float: left;
  }
}
