.people-box {
  padding: 0.5rem;
  box-shadow: 0 2px 5px grey;
  background: #C4C4C4;
  background-color: white;
  overflow: hidden;
  height: 100vh;
  z-index: 1;
}

.pb-top {
  text-align: center;
  margin-bottom: 10px;
}

.people-grids {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-auto-rows: fit-content;
  grid-gap: 1rem;
}

.people-box-picture {
  padding: 1.5rem;
  width: 1vw;
  height: 1vw;
  margin-bottom: 0.5vh;
  border-radius: 180px;
  background-color: black;
}

@media (max-width: 1280px) {
  .people-grids {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: fit-content;
  }
}

@media (max-width: 900px) {
  .people-grids {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: fit-content;
  }
}

@media (max-width: 649px) {
  .people-box {
    top: 10vh;
    width: 100%;
  }

  .people-grids {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: fit-content;
    grid-gap: 1rem;
  }
}

@media (max-width: 480px) {
  .people-box {
    box-shadow: none;
    position: absolute;
    top: 10vh;
    width: 95%;
  }

  .people-grids {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: fit-content;
    grid-gap: 0.5rem;
  }
}
